<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="image">
                            <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><%= product.price %></h2>
                        <p><%= product.description %></p>
                        <% if (isAuthenticated) { %>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        <% } %>
                    </div>
                </div>
            </div>           
            
        </main>
        <%- include('../includes/end.ejs') %>
        <%- include('../includes/footer.ejs') %>